/* .................................... */
/* Sección de clientes */
/* .................................... */

.client {
  padding: 94px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }
}

.client__icon {
  width: 106px;
  height: 53px;
  fill: #afb1b8;

  .client__container:hover &,
  .client__container:focus & {
    fill: var(--high-lighted);
  }
}

.client__container {
  width: 170px;
  height: 81px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 14px calc((100% - 106px)/2);

  &:hover,
  &:focus {
    border: 1px solid var(--high-lighted);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__list {
    justify-content: center;

    & > li {
      width: calc(33% - 30px);
    }

   .client__container {
    width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .client__list {
    justify-content: center;

    & > li {
      width: calc(50% - 30px);

      .client__container {
        width: 100%;
      }
    }
  }
}