*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "roboto", "sans-serif";
  color: var(--text);
  background-color: var(--white);
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}
