:root {
  --white: #ffffff;
  --black: #212121;
  --text: #757575;
  --high-lighted: #2196f3;
}

%text-format {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

